.bin-button {
  color: var(--background-colour);
  cursor: pointer;
  align-self: center;
  z-index: 1;
}

.dialog {
  background-color: var(--background-colour) !important;

  .header,
  .body {
    color: var(--text-colour);
  }

  button {
    height: 30px;
  }
}
