.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 5px 30px;
  font-size: 12px;
  width: 100%;
  z-index: 1;

  @media (max-width: 475px) {
    padding: 5px 10px;
  }
  .app-title {
    display: flex;
    align-items: center;
    grid-column: 1;
    gap: 5px;
    justify-self: flex-start;
  }

  .app-version {
    justify-self: center;
    grid-column: 2;
  }

  p {
    /*Logout button*/
    grid-column: 3;
    justify-self: flex-end;
  }
}
