@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --accent-colour: #ef790d;
  --subtle-accent-colour: #ef7a0d3b;
  --text-colour: #ffffffde;
  --background-colour: #0e090d;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-colour);
  background-color: var(--background-colour);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

input {
  color: var(--text-colour);
}
label:focus {
  color: var(--text-colour);
}
button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.quill {
  display: flex;
  flex-direction: column;
  .ql-picker-label {
    color: var(--text-colour);
  }
  path,
  svg,
  line,
  polygon {
    stroke: var(--text-colour) !important;
    fill: var(--text-colour);
  }
  .ql-toolbar {
    border: none !important;
  }
  .ql-container.ql-snow {
    /* height: fit-content; */
    overflow-x: auto;
    padding: 8px;
    flex: 1 1 auto;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    .ql-editor {
      resize: vertical;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
